{% extends "base.html" %}

{% block content %}
    <h1>Unregister your device</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>User</th>
                    <th>Device</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                {% for row in form.rows %}
                <tr>
                    {{ row.csrf_token }}
                    {{ row.device_id }}
                    <td>{{ row.select() }}</td>
                    <td>{{ user_info[row.device_id.data]['user_name'] }}</td>
                    <td>{{ user_info[row.device_id.data]['device_name'] }}</td>
                    <td>{{ user_info[row.device_id.data]['is_active'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form.submit() }}
    </form>
{% endblock %}